!!! 5

include "shared"

html
  head
    title Account
    
    call head_bootstrap()
    
  body
    .container
      .navbar
        .row
          .navbar-inner
            a.brand(href="/")  Cinemode
            ul.nav.pull-right
              li
                a(href="/logout") logout
    .container
      h2 #{user.provider}
      - if(user.photos)
        img(href=user.photos[0].value)
      p email:  #{user.email}
      - if(user.emails)
        p Email: #{user.emails[0].value}