!!! 5
<<<<<<< HEAD:views/index.blade

=======
>>>>>>> express.io:views/index.jade
html
  head
  body
    - if(user)
      h1 hi, #{user.username}
    - else
      h1 please 
      a(href="/login") login 