!!! 5

include shared

html
  head
    title login
    mixin bootstrapH()
  body
    .container(style="padding:80px")
      h2 Welcome to Cinemode
    .container
      form(action="/login", method="post")
        label username:
        input(type="text", name="username")
        br

        label password:
        input(type="password", name="password")
        br

        input(type="submit", value="login")
        
      p do not have account? 
        a(href="/signup") sign up
      p or 
        a(href="/auth/facebook") login with facebook