!!! 5

include shared

html
  head
    title change password
    
    mixin bootstrapH()
  body
    .container(style="margin:80px")
    .container
      form(action='/password', method="post")
        label email: #{user.email}
        br
        
        label original password:
        input(type="password", name="original")
        br
        
        label new password:
        input(type="password", name="password")
        br
        
        label new password confirmation:
        input(type="password", name="password_confirmation")
        br
          
        input(type="submit", value="submit")