      
function head_jquery()
  script(src="http://code.jquery.com/jquery-1.9.1.min.js")
  
function head_videojs()
  script(charset="utf-8" src="/video.js")
  link(charset="utf-8" rel="stylesheet" type="text/css" href="/video-js.css")
  
function head_bootstrap()
  script(charset="utf-8" src="/bootstrap.min.js")
  link(charset="utf-8" rel="stylesheet" type="text/css" href="/bootstrap.min.css")